body{
font-family: Arial;
background: #121212;
color: white;
text-align: center;
margin-top: 100px;
}

input{
display: block;
margin: 10px auto;
padding: 10px;
width: 250px;
}

button{
padding: 10px 20px;
background: #1db954;
border: none;
color: white;
cursor: pointer;
}

a{
color: #1db954;
display:block;
margin-top:10px;
}
